* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Quattrocento", serif;
  background-color: #fce4ec;
  color: #757575;
}

.colorFondoIndex {
  background-color: #fce4ec;
}

/*INDEX*/
.section1 {
  background-color: #fce4ec;
  grid-area: section1;
  margin-bottom: 1px;
  transition: background-color, 2s;
  font-size: 15px;
  height: 300px;
  color: #757575;
  margin-top: 50px;
}

.botonIndex {
  background-color: #c48b9f;
  border-color: #c48b9f;
}

.botonIndex:hover {
  background-color: gray;
  border-color: gray;
}

h1 {
  font-size: 25px;
}

.section2 {
  display: grid;
  background-color: #fce4ec;
  text-align: center;
  grid-template-columns: 30% 70%;
  color: #757575;
}

.ajusteImagenCarrusel {
  width: 600px;
  height: 400px;
}

.tamanioCarousel {
  width: 60%;
  margin: auto;
}

.article1 {
  background-color: #fce4ec;
  grid-area: article1;
  margin-left: 5px;
  transition: background-color, 2s;
  padding-bottom: 10px;
  margin-top: 5px;
  align-items: stretch;
  color: #757575;
}

.imagenArticle {
  width: 20%;
  text-align: center;
}

.aside {
  background-color: #fce4ec;
  grid-area: aside;
  width: 100%;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 450px;
  margin-top: 1px;
  color: #757575;
}

.motivacion {
  background-color: #fce4ec;
  text-align: center;
  color: #757575;
  height: 100px;
  margin-top: 50px;
}

.marginCard {
  margin-left: 50px;
}

.card {
  background-color: #ffeeff;
  font-family: "Quattrocento", serif;
  color: #757575;
}

footer {
  background-color: #c9b2ba;
  display: grid;
  grid-template-columns: repeat(6, 8%);
}

footer div {
  margin: 10%;
  align-self: center;
  justify-self: center;
}

img {
  width: 100%;
}

.imgFooter {
  width: 25%;
}

.videoAside {
  width: 100%;
}

.contacto {
  background-color: #fce4ec;
}

.alineacion {
  text-align: center;
  color: #918989;
}

html {
  font-size: 62, 5%;
  font-family: "Trirong", serif;
}

h1 {
  font-size: 30px;
}

.container {
  color: #757575;
}

input:focus {
  background-color: #868686;
}

.animacion {
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes animacion {
  50% {
    font-size: 20px;
  }
}

@keyframes animacion {
  50% {
    font-size: 20px;
  }
}
.seccionContacto {
  width: 100%;
  background-color: #d7ccc8;
}

.colorBoton {
  background-color: #868686;
}

.colorBoton:hover {
  background-color: #c48;
}

.colorNavbar {
  background-color: #c9b2ba;
}

.colorFondoEquipo {
  background-color: #fce4ec;
}

.colorFondoSobreMi {
  background-color: #fce4ec;
}

.colorFondoServicios {
  background-color: #fce4ec;
}

.colorBotonContacto {
  background-color: gray;
  border-color: gray;
}

.colorBotonContacto:hover {
  background-color: #c48b9f;
  border-color: #c48b9f;
}

.alineacionCard {
  margin: auto;
}

/*servicios*/
.sectionUnoServicios {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-right: 50px;
  margin-top: 50px;
  color: #757575;
  text-align: center;
}

.sectionDosServicios {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-right: 50px;
  margin-top: 50px;
  color: #757575;
  text-align: center;
}

.sectionTresServicios {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-right: 50px;
  margin-top: 50px;
  color: #757575;
  text-align: center;
}

.sectionCuatroServicios {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  margin-top: 50px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-right: 50px;
  margin-top: 50px;
  color: #757575;
  text-align: center;
}

.sectionCincoServicios {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #757575;
  text-align: center;
}

.sectionSeisServicios {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #757575;
  text-align: center;
}

.colorBotonServ {
  background-color: gray;
  border-color: gray;
}

.colorBotonServ:hover {
  background-color: #c48b9f;
  border-color: #c48b9f;
}

.colorBotonServicios {
  background-color: #c48b9f;
  border-color: #c48b9f;
}

.colorBotonServicios:hover {
  background-color: gray;
  border-color: gray;
}

.alineacionServ {
  margin-top: 50px;
}

/*TIENDA*/
.section1_Tienda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

.section2_Tienda {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

.section3_Tienda {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

.section4_Tienda {
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.colorBotonTienda {
  background-color: #c48b9f;
  border-color: #c48b9f;
}

.colorBotonTienda:hover {
  background-color: gray;
  border-color: gray;
}

/* MEDIA QUARIES*/
@media screen and (max-width: 576px) {
  .footerRedes .imgFooter {
    width: 25px;
  }
}
@media screen and (max-width: 768px) {
  .footerRedes .imgFooter {
    width: 25px;
  }
}
/*MEDIA QUERIES */
@media screen and (max-width: 320px) {
  .carritoNavBar {
    width: 20px;
    height: 16px;
  }

  .section1 {
    height: 200px;
    margin-top: 50px;
  }

  .section2 {
    display: flex;
    flex-direction: column;
  }

  .ajusteImagenCarrusel {
    width: 200px;
    height: 50px;
  }

  .tamanioCarousel {
    width: 60%;
  }

  .aside {
    display: flex;
    flex-direction: column;
  }

  .marginCardMovile {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 5rem;
  }

  .sectionUnoServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionDosServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionTresServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionCuatroServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionCincoServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionSeisServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .mediaServicios {
    display: none;
  }

  .section1_Tienda {
    display: flex;
    flex-direction: column;
  }

  .section2_Tienda {
    display: flex;
    flex-direction: column;
  }

  .section3_Tienda {
    display: flex;
    flex-direction: column;
  }

  .section4_Tienda {
    display: flex;
    flex-direction: column;
  }

  .cardTienda {
    width: 8rem;
  }
}
@media screen and (max-width: 1024px) {
  .section1 {
    height: 200px;
    margin-top: 50px;
  }

  .section2 {
    display: flex;
    flex-direction: column;
  }

  .ajusteImagenCarrusel {
    width: 600px;
    height: 400px;
  }

  .tamanioCarousel {
    width: 60%;
  }

  .aside {
    display: flex;
    flex-direction: column;
  }

  .marginCardMovile {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 5rem;
    margin: auto;
  }

  .sectionUnoServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionDosServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionTresServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionCuatroServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionCincoServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionSeisServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .mediaServicios {
    display: none;
  }

  .section1_Tienda {
    display: flex;
    flex-direction: column;
  }

  .section2_Tienda {
    display: flex;
    flex-direction: column;
  }

  .section3_Tienda {
    display: flex;
    flex-direction: column;
  }

  .section4_Tienda {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 760px) {
  .section1 {
    height: 200px;
    margin-top: 50px;
  }

  .section2 {
    display: flex;
    flex-direction: column;
  }

  .ajusteImagenCarrusel {
    width: 400px;
    height: 250px;
  }

  .tamanioCarousel {
    width: 60%;
  }

  .aside {
    display: flex;
    flex-direction: column;
  }

  .marginCardMovile {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 5rem;
    margin: auto;
  }

  .sectionUnoServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionDosServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionTresServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionCuatroServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionCincoServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .sectionSeisServicios {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .mediaServicios {
    display: none;
  }

  .section1_Tienda {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .section2_Tienda {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .section3_Tienda {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .section4_Tienda {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */